  
{% extends "_base.html" %}
{% block head %}
{% endblock head %}
{% block body %}
style="background-color:#2BFF00;"
{% endblock body %}
{% block content %}
<iframe style="display: none" width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/84118776&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
  {% load static %}
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.redd.it%2Fpt6fq0yo1no21.gif&f=1&nofb=1" alt="My image">
</div>

{% endblock content %}
